@model CreateCategoryVM
@{
    ViewData["Title"] = "Створення категорії";
}

<div class="w-50 m-auto border-2 p-2">
    <h1 class="text-center">Створення категорії</h1>
    <form class="w-75 m-auto" asp-action="Create" method="post">
        <div class="mb-3 mt-3 row">
            <label>Назва</label>
            <div>
                <input type="text" class="form-control" asp-for="Name" maxlength="100" />
            </div>
            <div style="color: red;" class="form-text ms-1">
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="mt-2 d-flex p-1">
            <input type="submit" value="Створити" class="flex-grow-1 m-1 btn btn-success" />
            <a asp-action="Index" class="flex-grow-1 m-1 btn btn-dark">Повернутися</a>
        </div>
        <div class="form-text mt-1 ms-1 text-center text-danger">
            <span asp-validation-for="UniqueNameError"></span>
        </div>
    </form>
</div>