@model IEnumerable<Category>
@{
    ViewData["Title"] = "Категорії";
}

<h1 class="text-center">Список категорії</h1>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Назва</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var category in Model)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>