@model HomeVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    @* Categories *@
    <div class="d-flex justify-content-center">
        <a asp-action="Index" class="btn btn-success mx-2">Всі категорії</a>
        @foreach(var category in Model.Categories)
        {
            <a asp-action="Index" asp-route-category="@category.Name" class="btn btn-success mx-2">@category.Name</a>
        }
    </div>

    @* Products *@
    <div class="row">
        <div class="container mt-5">
            <div class="row">
                @foreach (var product in Model.Products)
                {
                    <partial name="_ProductCard" model="@product"></partial>
                }
            </div>
        </div>
    </div>
</div>