@{
    ViewData["Title"] = "Товари";
}

<h1 style="text-align: center">Тут будуть товари</h1>
<div style="text-align: center">
    <img src="https://queue-it.com/media/ppcp1twv/product-drop.jpg" alt="products" width="1000" />
</div>